
/*@import url(http://weloveiconfonts.com/api/?family=fontawesome);*/

/* fontawesome */
/*[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}*/

.mind {
  width: 9999px;
  height: 6666px;
  position: relative;
  background-image: url(./background-pattern.png);
}

.thought-tree-root {
  position: absolute;
  top: 2333px;
  left: 2333px;
  right: auto;
}

.item {
  display: inline-block; /*adjust width automatically to child's width*/
  position: relative;
  margin: 12px 30px; /* TODO: for debug, delete later */
  border-radius: 24px;
  font-family: 'Microsoft Yahei', sans-serif;
}

.item[class~="first-class-topic"] {
  background-color: #4a2d5d;
  color: #fefaee;
  font-size: 1.25em;
}

.item[class~="second-class-topics"] {
  background-color: #fbc2a4;
  color: #4a2d5d;
  font-size: 1.05em;
}

.item[class~="third-class-topics"] {
  background-color: #c2e3d2;
  color: #4a2d5d;
  font-size: 0.9em;
}

.item[class~="other-topics"] {
  border-radius: 0;
  border-bottom: 0.3px solid #a39e8a;
  color: #4a2d5d;
  font-size: 0.75em;
}

/*.item[class~="important"] {
  border: 2px dashed #d31636;
}*/

.item[class~="on-opts"] {
  border-radius: 3px;
}

.item-view {
  display: block;
  min-width: 48px;
  max-width: 300px;
  min-height: 28px;
  padding: 0.5em 1em;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.on-opts .item-view {
  min-width: 121px;
}

.item-opt ul {
  display: inline-flex;
  position: absolute;
  left: 0;
  top: -17px;
  height: 19px;
  padding: 2px 0;
  border-radius: 3px 3px 0 0;
  color: #fff;
}

.first-class-topic .item-opt ul {
  background-color: #4a2d5d;
}

.second-class-topics .item-opt ul {
  background-color: #fbc2a4;
}

.third-class-topics .item-opt ul {
  background-color: #c2e3d2;
}

.other-topics .item-opt ul {
  background-color: #a39e8a;
}

.item-opt li {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  line-height: 15px;
  margin-left: 2px;
  font-size: 9px;
  text-align: center;
}

.item-opt li:last-of-type {
  margin-right: 2px;
}

.item-opt li:hover {
  background-color: rgba(255, 250, 238, 0.38);
}

.delete-has-sub-opts div {
  display: none;
  position: absolute;
  bottom: 0;
  right: -54px;
  width: 54px;
  background-color: rgba(74, 45, 93, 0.5);
}

.second-class-topics .delete-has-sub-opts div {
  background-color: rgba(251, 194, 164, 0.5);
}

.third-class-topics .delete-has-sub-opts div {
  background-color: rgba(194, 227, 210, 0.5);
}

.other-topics .delete-has-sub-opts div {
  background-color: rgba(163, 158, 138, 0.5);
}

.delete-has-sub-opts div span {
  display: block;
  height: 15px;
}

.delete-has-sub-opts:hover div {
  display: block;
}

.delete-has-sub-opts div span:hover {
  background-color: rgba(255, 250, 238, 0.38);
  cursor: default;
}

.opt-icon {
  stroke-width: 0;
  stroke: #fff;
  fill: #fff;
}

.item-edit {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(74, 45, 93, 0.19);
  font-family: inherit;
  font-size: inherit;
  resize: none;
  overflow-y: hidden;
}

.add-item-icon {
  display: none;
  position: absolute;
  width: 28px;
  height: 28px;
}

.add-item-mask {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 0;
}

.first-class-topic .add-item-icon {
  stroke-width: 0;
  stroke: #4a2d5d;
  fill: #4a2d5d;
}
.second-class-topics .add-item-icon {
  stroke-width: 0;
  stroke: #fbc2a4;
  fill: #fbc2a4;
}
.third-class-topics .add-item-icon {
  stroke-width: 0;
  stroke: #c2e3d2;
  fill: #c2e3d2;
}
.other-topics .add-item-icon {
  stroke-width: 0;
  stroke: #a39e8a;
  fill: #a39e8a;
}

.add-item-sibling {
  bottom: -28px;
  left: calc(50% - 14px);
}

.add-item-parent {
  left: -28px;
  top: calc(50% - 14px);
}

.add-item-child {
  right: -28px;
  top: calc(50% - 14px);
}

.item-view:hover ~ .add-item div {
  display: block;
}

.add-item-icon:hover {
  display: block;
}

.branch {
  display: inline-flex;
  align-items: center;
  /*border: 1px solid blue;*/
}

.topic, .sub-topics {
  position: relative;
  display: inline-flex;
}

.sub-topics {
  flex-direction: column;
}

.bottom-half-line::before {
  content: '';
  display: inline-block;
  position: relative;
  height: 50%;
  top: 25%;
  left: 15px;
  border-left: 2px double #a39e8a;
}

.top-half-line::before {
  content: '';
  display: inline-block;
  position: relative;
  height: 50%;
  bottom: 25%;
  left: 15px;
  border-left: 2px double #a39e8a;
}

.full-line::before {
  content: '';
  display: inline-block;
  position: relative;
  height: 100%;
  left: 15px;
  border-left: 2px double #a39e8a;
}
