
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.item {
  display: inline-block; /*adjust width automatically to child's width*/
  position: relative;
  margin: 50px; /* TODO: for debug, delete later */
  border: 2px solid #d31636;
  border-radius: 3px;
  color: #454648;
  font-family: 'Microsoft Yahei', sans-serif;
  font-size: 1.125em;
}

.item[class~="important"] {
  border: 2px dashed #d31636;
}

.item-view {
  display: block;
  min-width: 117px;
  max-width: 300px;
  padding: 0.5rem;
  background-color: rgba(211, 22, 54, 0.1);
  word-wrap: break-word;
}

.item-opt ul {
  display: inline-flex;
  position: absolute;
  left: -2px;
  top: -19px;
  height: 19px;
  padding: 2px 0;
  background-color: #d31636;
  border-radius: 3px 3px 0 0;
  color: #fff;
}

.item-opt li {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  line-height: 15px;
  margin-left: 2px;
  font-size: 9px;
  text-align: center;
}

.item-opt li:last-of-type {
  margin-right: 2px;
}

.item-opt li:hover {
  background-color: rgba(0, 0, 0, 0.38);
}

.delete-has-sub-opts div {
  display: none;
  position: absolute;
  bottom: 0;
  right: -54px;
  width: 54px;
  background-color: rgba(211, 22, 54, 0.5);
}

.delete-has-sub-opts div span {
  display: block;
  height: 15px;
}

.delete-has-sub-opts:hover div {
  display: block;
}

.delete-has-sub-opts div span:hover {
  background-color: rgba(0, 0, 0, 0.38);
  cursor: default;
}

.item-edit {
  display: block;
  position: absolute;
  top: 0;
  width: 300px;
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.38);
  font-family: inherit;
  font-size: inherit;
  resize: none;
  overflow-y: hidden;
}

.add-item div {
  display: none;
  position: absolute;
  width: 24px;
  height: 20px;
  line-height: 20px;
  color: #d31636;
  font-size: 20px;
  text-align: center;
}

.add-item-sibling {
  bottom: -20px;
  left: calc(50% - 12px);
}

.add-item-parent {
  left: -24px;
  top: calc(50% - 10px);
}

.add-item-child {
  right: -24px;
  top: calc(50% - 10px);
}

.item-view:hover ~ .add-item div {
  display: block;
}

.add-item div:hover {
  display: block;
}
